<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="login-container">

        <div class="login-form">
            <form th:action="@{/login-form}" method="get" class="login-form">
                <h4 class="login-title">Login</h4>
                <input type="text" name="username" id="username" placeholder="Uername" required>
                <input type="password" name="password" id="password" placeholder="Senha" required>
                <div class="login-button-container">
                    <button type="submit">Entrar</button>
                </div>
                <p class="login-redirect-options">
                    Ainda não tem cadastro? <br>
                    <a href="/register">Cadastre-se</a>
                    <a href="/recoverPassword">Esqueceu sua senha?</a>
                </p>
            </form>
        </div>
        <div class="login-image">
            <img th:src="@{/images/apc-login-bg.png}" alt="Logo PUC Minas">
        </div>
    </div>
</body>
</html>